---
export interface Props {
  isAdmin: boolean;
}

const { isAdmin } = Astro.props;

const userLinks = [
  { href: '/', icon: 'fa-home', text: 'Inicio' },
  { href: '/perfil', icon: 'fa-user', text: 'Perfil' },
  { href: '/soporte', icon: 'fa-headset', text: 'Soporte' }
];

const adminLinks = [
  { href: '/dashboard', icon: 'fa-tachometer-alt', text: 'Dashboard' },
  { href: '/usuarios', icon: 'fa-users', text: 'Gestionar Usuarios' },
  { href: '/reportes', icon: 'fa-file-alt', text: 'Ver Reportes' }
];
---
<aside class="Sidebar w-36 h-screen text-white p-4 fixed top-0 left-0 z-50"> <!-- Aquí se agrega z-50 -->
  
    <nav class="w-64 mx-auto">
        <div>
            <img src="../../public/images/Logo.png" alt="Logo">
        </div>
        <ul>
          {isAdmin ? (
            adminLinks.map(link => (
            <li class="mb-4 flex items-center">
            <a href={link.href} class="flex items-center text-lg hover:text-gray-300 transition-colors">
              <i class={`fas ${link.icon} mr-2`}></i>
              {link.text}
            </a>
          </li>
            ))
          ) : (
            userLinks.map(link => (
                <li class="mb-4 flex items-center">
                <a href={link.href} class="flex items-center text-lg hover:text-gray-300 transition-colors">
                <i class={`fas ${link.icon} mr-2`}></i>
                {link.text}
                </a>
            </li>
            ))
          )}
        </ul>
    </nav>
      
</aside>

<style>
  .Sidebar {
    background-color: #1c2222;
    z-index: 50; /* Esto asegura que esté por encima de otros elementos */
  }
</style>
